@font-face {
  font-family: druk;
  src: url(./font/druk-Heavy.woff2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
#main {
  width: 100%;
  background-color: #f4f1e8;
}

#page1 {
  min-height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

#nav {
  position: relative;
  height: 10vh;
  width: 100%;
  border-bottom: 3px solid black;
  transform: rotate(90deg);
  position: fixed;
  left: -42%;
  z-index: 99999999999999;
}

#nav #a {
  position: absolute;
  left: 50%;
  transform: rotate(-90deg);
  top: 150%;
  z-index: 999999;
  font-size: 3vh;
}

#nav > i:hover{
    color: rgb(128, 8, 8);
}

#nav #b {
  position: absolute;
  left: 56%;
  transform: rotate(-90deg);
  top: 150%;
  font-size: 3vh;
  z-index: 999999999;
}

#top {
  height: 10vh;
  padding: 0 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 99999;
  overflow: hidden;
}

#top #logo {
  height: 15vh;
  width: 12%;
  position: relative;
}

#top #logo >#kutta{
    top: 150%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 100%;
    position: absolute;
    z-index: -99;
}

#top #logo:hover>#kutta{
    top: 65%;
    transition: all 0.5s;
}

#top #btn1:hover{
    background-color: #7d071a;
    transition: all 0.5s;
}

#top #logo #lagunitas {
  height: 120%;
  width: 100%;
}

#top #btn1 {
  height: 6vh;
  width: 8%;
  background-color: #c8102e;
  font-family: gilroy;
  font-weight: 500;
  letter-spacing: 1px;
  color: aliceblue;
}

#page1 h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30vh;
  color: #c8102e;
  text-align: center;
  width: 60%;
  font-family: druk;
  line-height: 0.8;
}

#bottle {
  height: 80vh;
  position: absolute;
  top: 50vh;
  left: 54vw;
  z-index: 99;
  transform: translate(-50%, -50%) scale(1);
}

#dog {
  position: absolute;
  top: 20%;
  left: 41%;
  transform: translate(-50%, -50%);
  height: 13%;
  rotate: -30deg;
}

#page2 {
  min-height: 100vh;
  width: 100%;
  position: relative;
  z-index: 0;
}

#page2 > #left {
  height: 100vh;
  width: 40%;
  position: absolute;
  position: relative;
  left: 6%;
}

#page2 > #left h3 {
  font-family: Vivaldi;
  letter-spacing: 1px;
  position: absolute;
  top: 10%;
  left: 5%;
}

#page2 > #left h1 {
  font-family: druk;
  position: absolute;
  top: 18%;
  font-size: 10vh;
  line-height: 0.8;
  left: 5%;
}

#page2 > #left h4 {
  font-family: gilroy;
  position: absolute;
  top: 37%;
  z-index: 999;
  width: 70%;
  left: 5%;
  font-weight: 300;
}

#page2 > #left button {
  font-family: druk;
  position: absolute;
  top: 62%;
  background-color: #000;
  color: #fff;
  border: none;
  font-weight: 100;
  letter-spacing: 1px;
  z-index: 999;
  width: 15%;
  height: 4vh;
  left: 5%;
}

#page2 > #left button:hover{
    background-color:#7d071a;
    color: #fff;
    transition: all 0.5s;
}

#page2 > #right {
  height: 100vh;
  width: 40%;
  position: absolute;
  right: 0%;
  top: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#page2 > #right #cout {
  height: 80%;
  width: 80%;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

#page2 > #right #cin {
  height: 98%;
  width: 98%;
  border: 4px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

#page2 > #right #cin h3 {
  position: absolute;
  top: 8%;
  left: 10%;
  font-family: gilroy;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 3vh;
}

#page2 > #right #cin h5 {
  position: absolute;
  top: 13%;
  left: 10%;
  font-family: gilroy;
  font-weight: 500;
  font-size: 1.5vh;
}

#page2 > #right #cin #a {
  margin-top: 20%;
  height: 32%;
  width: 80%;
  border-top: 2px solid black;
  position: relative;
}

#page2 > #right #cin #a h1 {
  position: absolute;
  top: 1%;
  left: 0%;
  font-family: druk;
  font-size: 7vh;
}

#page2 > #right #cin #a h4 {
  position: absolute;
  top: 6%;
  left: 30%;
  width: 60%;
  font-family: gilroy;
  font-weight: 400;
  font-size: 1.7vh;
}

#page2 > #right #cin #a h3 {
  position: absolute;
  top: 70%;
  left: 0%;
  font-family: gilroy;
  font-weight: 600;
  letter-spacing: 1px;
}

#page2 > #right #cin #a h5 {
  position: absolute;
  top: 85%;
  left: 0%;
  font-family: gilroy;
  font-weight: 400;
}

#page2 > #right #cin #b {
  height: 32%;
  width: 80%;
  border-top: 2px solid black;
  position: relative;
}

#page2 > #right #cin #b h1 {
  position: absolute;
  top: 1%;
  left: 0%;
  font-family: druk;
  font-size: 7vh;
}

#page2 > #right #cin #b h4 {
  position: absolute;
  top: 6%;
  left: 30%;
  width: 60%;
  font-family: gilroy;
  font-weight: 400;
  font-size: 1.7vh;
}

#page2 > #right #cin #b h3 {
  position: absolute;
  top: 70%;
  left: 0%;
  font-family: gilroy;
  font-weight: 600;
  letter-spacing: 1px;
}

#page2 > #right #cin #b h5 {
  position: absolute;
  top: 85%;
  left: 0%;
  font-family: gilroy;
  font-weight: 400;
}

#page2 > #right #cin #c {
  height: 32%;
  width: 80%;
  border-top: 2px solid black;
  position: relative;
}

#page2 > #right #cin #c h1 {
  position: absolute;
  top: 1%;
  left: 0%;
  font-family: druk;
  font-size: 7vh;
}

#page2 > #right #cin #c h4 {
  position: absolute;
  top: 6%;
  left: 30%;
  width: 60%;
  font-family: gilroy;
  font-weight: 400;
  font-size: 1.7vh;
}

#page3 {
  min-height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

#page3 > #cover {
  width: 90%;
  min-height: 75vh;
  margin-left: 5%;
}

#page3 > #cover h1 {
  font-size: 45vh;
  text-align: center;
  font-family: druk;
  color: #c8102e;
  display: flex;
  justify-content: center;
  align-items: center;
}

#page3 > #cover #center {
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30%;
}

#page3 > #cover #center #left {
  height: 100%;
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}

#page3 > #cover #center #left #video {
  height: 40%;
  width: 90%;
  background-color: black;
  background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimages2.minutemediacdn.com%2Fimage%2Ffetch%2Fw_2000%2Ch_2000%2Cc_fit%2Fhttps%3A%2F%2Ffoodsided.com%2Ffiles%2F2020%2F11%2FLagunitas_IPNA_landscape_bottle.jpeg&f=1&nofb=1&ipt=2af37c7a58fbdbc87e6fe12681af3fcfe9d71942007ac8fd775306e154f3909c&ipo=images);
  background-size: cover;
  background-position: center;
}

#page3 > #cover #center #left h4 {
  font-family: bettrish;
  font-size: 5vh;
}

#page3 > #cover #center #left #drop {
  position: absolute;
  top: 75%;
  left: 5%;
  height: 55%;
  width: 63%;
  z-index: 9999;
}

#center #left #drop a {
  position: absolute;
  top: 20%;
  left: 35%;
  color: #fff;
  font-family: gilroy;
  font-weight: 600;
}

#center #left #drop h5 {
  position: absolute;
  top: 30%;
  left: 25%;
  width: 60%;
  color: #fff;
  font-family: gilroy;
  font-size: 2vh;
  line-height: 1.3;
  font-weight: 300;
  text-align: center;
}

#page3 > #cover #center #left #drop img {
  height: 100%;
}

#page3 > #cover #center #right {
  height: 100%;
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

#page3 > #cover #center #right h4 {
  font-family: gilroy;
  font-size: 2vh;
  font-weight: 400;
  width: 80%;
}

#page3 > #cover #center #right h3 {
  font-family: druk;
  font-size: 5vh;
  font-weight: 400;
  margin-top: 20px;
}

#page3 > #cover #center #right h5 {
  font-family: gilroy;
  font-size: 1.5vh;
  font-weight: 400;
  margin-top: 10px;
  width: 80%;
}

#page4 {
  min-height: 100vh;
  width: 100%;
  position: relative;
}

#page4 #drop2 {
  position: absolute;
  top: 20%;
  left: 30%;
  height: 45%;
  width: 25%;
}

#page4 #drop2 img {
  height: 100%;
}

#drop2 a {
  position: absolute;
  top: 20%;
  left: 42%;
  color: #fff;
  font-family: gilroy;
  font-weight: 600;
}

#drop2 h5 {
  position: absolute;
  top: 30%;
  left: 15%;
  width: 60%;
  color: #fff;
  font-family: gilroy;
  font-size: 2vh;
  line-height: 1.3;
  font-weight: 300;
  text-align: center;
}

#page4 #black {
  height: 50vh;
  position: absolute;
  top: 15%;
  right: 10%;
}

#page4 #dets {
  position: absolute;
  top: 28%;
  right: 12%;
  height: 15vh;
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 10px;
}

#page4 #dets a {
  color: #f4f1e8;
  font-family: drake;
  letter-spacing: 1px;
}

#page4 #dets h5 {
  color: #f4f1e8;
  font-family: gilroy;
  letter-spacing: 1px;
  font-weight: 300;
}

#page4 #mug {
  height: 60vh;
  width: 20%;
  position: absolute;
  top: 40%;
  left: 12%;
  transform: rotate(-20deg);
}

#page4 #mug img {
  height: 100%;
  filter: drop-shadow(1rem 0.25rem 0.5rem #000000);
}

#page5 {
  height: 100vh;
  width: 94%;
  margin-left: 6%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#page5 h4 {
  font-family: Bradley Hand ITC;
  font-size: 3vh;
  margin-top: 20px;
}

#page5 h1 {
  font-family: druk;
  font-size: 20vh;
  line-height: 1;
  font-weight: 100;
}

#page5 #center {
  display: flex;
  height: 60vh;
  width: 90%;
}

#page5 #center .img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 20%;
  position: relative;
}

.img-container .pic {
  height: 93%;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.img-container > h5 {
  font-family: gilroy;
  font-weight: 400;
  letter-spacing: 1px;
}

.img-container #img1 {
  background-image: url(https://lagunitas.com/wp-content/uploads/2021/05/product-img01.png);
}

.img-container #img2 {
  height: 100%;
  background-image: url(https://lagunitas.com/wp-content/uploads/2021/05/product-img04.png);
}
#b > h5 {
  position: absolute;
  top: 94%;
}

.img-container #img4 {
  position: absolute;
  top: 25%;
  height: 70%;
  background-image: url(https://lagunitas.com/wp-content/uploads/2021/05/product-img02.png);
}

#d > h5 {
  position: absolute;
  top: 94%;
}

.img-container #img5 {
  background-image: url(https://lagunitas.com/wp-content/uploads/2021/05/product-img03.png);
  height: 100%;
}

#page6 {
  height: 100vh;
  width: 94%;
  position: relative;
  margin-left: 6%;
  background-color: #000;
}

#page6 #brush {
  height: 30%;
  width: 100%;
}

#page6 #brush img {
  height: 100%;
  width: 100%;
}

#page6 #btl-cap {
  position: absolute;
  top: 40%;
  left: 5%;
  height: 20vh;
  width: 10.5%;
  background-image: url(https://lagunitas.com/wp-content/uploads/2021/05/logo-footer.svg);
  background-size: contain;
}

#page6 #dets{
    position: absolute;
    left: 20%;
    top: 40%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

#page6 #dets a{
    text-decoration: none;
    color: #fff;
    font-family: gilroy;
    font-size: 8vh;
    font-weight: 600;
    line-height: 1;
}

#page6 #dets a:hover{
    color: #c8102e;
    font-size: 8.1vh;
    transition: all 0.5s;
}

#page6> h4{
    font-family:Bradley Hand ITC ;
    color: #fff;
    position: absolute;
    top: 40%;
    right: 16%;
    font-size: 4vh;
}

#page6> #btn{
    position: absolute;
    top: 48%;
    right: 10%;
    display: flex;
    align-items: center;
    height: 8vh;
    width: 31%;
    background-color: white;
}

#page6> #btn input{
    height: 100%;
    width: 80%;
    background-color: #fff;
    border: none;
}

#page6> #btn button{
    height: 80%;
    width: 20%;
    background-color: black;
    color:white;
    font-family: druk;
    font-size: 2.5vh;
    letter-spacing: 1px;
    margin-right: 10px;
}

#page6> #btn button:hover{
    background-color: #c8102e;
    color: #000;
    transition: all 0.3s;
}

#page6> #icons{
    height: 6vh;
    width: 20%;
    position: absolute;
    top: 62%;
    right: 21%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#page6> #icons a{
    text-decoration: none;
    color: #fff;
}

#page6> #icons a>i{
    font-size: 35px;
}

#page6> #icons a>i:hover{
    color: #c8102e;
    font-size: 45px;
    transition: all 0.5s;
}